body {
  text-align: center;
  text-shadow: 0px 4px 6px #111d5e;
  background-color:#fbd46d;
  margin: 0;
  padding: 0;
}
#myBox{
  margin-top: 50px;;
  background-color: #e1ffc2;
  border-radius: 10%;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin-top: 100px;
  color: #111d5e;
}

.container {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 5px solid #0e2532 ;
  border-radius: 20%; 
  box-shadow: 2px 5px #111d5e;
}
body > div.container > div{
  border:10px solid #3ca59d;
  box-shadow: 5px 10px #111d5e;
  width: 400px;
  height: 100%;
  display:inline-block;
}


.game-over {
  background-color: red;
}

.red { /* Dark Salmon */
  background-color: #ea907a;
}

.green {
  background-color: orange;
}

.blue {  /* oliver */
  background-color: #4f8a8b;
}

.yellow {  /* Purple Taupe */
  background-color: #5a3d55;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
